 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/bat.jpeg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 419px;
}

.u-section-1 .u-text-1 {
  font-size: 4.5rem;
  margin: 124px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  line-height: 1.2;
  width: 623px;
  margin: 16px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 345px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 264px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 198px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 366px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    width: auto;
    margin-top: 78px;
  }

  .u-section-1 .u-text-2 {
    width: auto;
    margin-top: 27px;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-2 {
  background-image: none;
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 630px;
}

.u-section-2 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 356px;
  margin: 48px auto 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-weight: normal;
  width: 498px;
  margin: 5px auto 0;
}

.u-section-2 .u-list-1 {
  width: 1065px;
  margin: 58px auto 60px;
}

.u-section-2 .u-repeater-1 {
  grid-template-columns: calc(33.3333% - 28px) calc(33.3333% - 28px) calc(33.3333% - 28px);
  min-height: 329px;
  grid-gap: 42px 42px;
}

.u-section-2 .u-list-item-1 {
  background-image: none;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 29px;
}

.u-section-2 .u-icon-1 {
  height: 166px;
  width: 166px;
  background-image: linear-gradient(65deg, #f1b5b8, #77aad9);
  margin: -24px auto 0;
  padding: 50px;
}

.u-section-2 .u-text-3 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  line-height: 1.1;
  text-transform: uppercase;
  width: 187px;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-text-4 {
  line-height: 1.2;
  font-weight: normal;
  font-size: 1.125rem;
  margin: 18px 0 0;
}

.u-section-2 .u-list-item-2 {
  background-image: none;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 29px;
}

.u-section-2 .u-icon-2 {
  height: 166px;
  width: 166px;
  background-image: linear-gradient(65deg, #f1b5b8, #77aad9);
  margin: -24px auto 0;
  padding: 50px;
}

.u-section-2 .u-text-5 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  line-height: 1.1;
  text-transform: uppercase;
  width: 187px;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-text-6 {
  line-height: 1.2;
  font-weight: normal;
  font-size: 1.125rem;
  margin: 18px 0 0;
}

.u-section-2 .u-btn-1 {
  background-image: none;
  padding: 0;
}

.u-section-2 .u-list-item-3 {
  background-image: none;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 29px;
}

.u-section-2 .u-icon-3 {
  height: 166px;
  width: 166px;
  background-image: linear-gradient(65deg, #f1b5b8, #77aad9);
  margin: -24px auto 0;
  padding: 50px;
}

.u-section-2 .u-text-7 {
  letter-spacing: 0px;
  font-size: 1.375rem;
  line-height: 1.1;
  width: 187px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 18px auto 0;
}

.u-section-2 .u-text-8 {
  line-height: 1.2;
  font-weight: normal;
  font-size: 1.125rem;
  margin: 18px 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 287px;
  }

  .u-section-2 .u-list-item-1 {
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-item-2 {
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-2 .u-list-item-3 {
    --animation-custom_in-translate_y: 300px;
    --animation-custom_in-scale: 1;
  }

  .u-section-2 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 724px;
    grid-template-columns: calc(50% - 21px) calc(50% - 21px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-repeater-1 {
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1316px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    width: 340px;
  }

  .u-section-2 .u-text-2 {
    width: 340px;
  }

  .u-section-2 .u-list-1 {
    width: 311px;
    margin-top: 67px;
  }

  .u-section-2 .u-repeater-1 {
    min-height: 1007px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
  }

  .u-section-2 .u-text-8 {
    width: auto;
    margin-top: 5px;
    margin-left: 30px;
    margin-right: 30px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 621px;
}

.u-section-3 .u-layout-wrap-1 {
  width: 1152px;
  margin: 0 -12px 2px 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 615px;
}

.u-section-3 .u-container-layout-1 {
  padding: 118px 20px 199px;
}

.u-section-3 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 76px 10px 0 39px;
}

.u-section-3 .u-text-2 {
  font-size: 1.25rem;
  font-weight: normal;
  margin: 9px 49px 0 39px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 615px;
  background-image: none;
}

.u-section-3 .u-container-layout-2 {
  padding: 0;
}

.u-section-3 .u-image-1 {
  object-position: 50% 42.56%;
  width: 401px;
  height: 593px;
  filter: brightness(0.75);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 0 auto 0 80px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 434px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 940px;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 502px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 502px;
  }

  .u-section-3 .u-image-1 {
    margin-left: 69px;
    transition-duration: 0.5s;
    transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 333px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 385px;
  }

  .u-section-3 .u-image-1 {
    width: 360px;
    height: 532px;
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 599px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-text-1 {
    font-size: 1rem;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 578px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 827px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 340px;
    margin-bottom: 30px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 364px;
  }

  .u-section-3 .u-image-1 {
    width: 340px;
    height: 502px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 605px;
}

.u-section-4 .u-text-1 {
  background-image: none;
  font-weight: 700;
  width: 357px;
  font-size: 3rem;
  margin: 35px auto 0;
}

.u-section-4 .u-gallery-1 {
  margin-top: 32px;
  margin-bottom: 32px;
  height: 454px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 12px;
}

.u-section-4 .u-back-image-1 {
  width: 380px;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 12px;
}

.u-section-4 .u-back-image-2 {
  width: 380px;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 12px;
}

.u-section-4 .u-back-image-3 {
  width: 380px;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 12px;
}

.u-section-4 .u-back-image-4 {
  width: 380px;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-5 {
  width: 380px;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 12px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-6 {
  width: 380px;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 207px;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    width: 332px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    font-size: 2.25rem;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-4 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: 29px;
    margin-left: 4px;
    margin-right: 4px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 729px;
  margin-bottom: 0;
}

.u-section-5 .u-gallery-1 {
  height: 660px;
  width: 997px;
  margin: 26px auto 43px;
}

.u-section-5 .u-gallery-inner-1 {
  grid-template-columns: repeat(3, auto);
  grid-gap: 10px;
}

.u-section-5 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-2 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-3 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-4 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-gallery-item-5 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-5 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 691px;
  }

  .u-section-5 .u-gallery-1 {
    height: 622px;
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1141px;
  }

  .u-section-5 .u-gallery-1 {
    height: 1072px;
    width: 720px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(2, auto);
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 3285px;
  }

  .u-section-5 .u-gallery-1 {
    height: 3216px;
    width: 540px;
  }

  .u-section-5 .u-gallery-inner-1 {
    grid-template-columns: repeat(1, auto);
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 2094px;
  }

  .u-section-5 .u-gallery-1 {
    height: 2025px;
    width: 340px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 971px;
}

.u-section-6 .u-group-1 {
  width: 309px;
  min-height: 43px;
  margin: 38px auto 0 33px;
}

.u-section-6 .u-container-layout-1 {
  padding: 8px 30px;
}

.u-section-6 .u-text-1 {
  font-weight: 700;
  margin: 0 52px -22px;
}

.u-section-6 .u-group-elements-1 {
  width: 309px;
  min-height: 167px;
  margin: 17px auto 0 33px;
}

.u-section-6 .u-group-2 {
  width: 309px;
  min-height: 168px;
  margin: 0 auto 0 0;
}

.u-section-6 .u-group-3 {
  min-height: 168px;
  margin: 0 auto;
}

.u-section-6 .u-group-4 {
  min-height: 168px;
  margin: 0 auto;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 0 0 28px;
}

.u-section-6 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 236px 0 28px;
}

.u-section-6 .u-shape-1 {
  width: 17px;
  height: 17px;
  margin: -53px auto 0 0;
}

.u-section-6 .u-text-4 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 66px 101px 0 28px;
}

.u-section-6 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 0 178px 0 28px;
}

.u-section-6 .u-shape-2 {
  width: 17px;
  height: 17px;
  margin: -53px auto 0 0;
}

.u-section-6 .u-group-5 {
  width: 309px;
  min-height: 43px;
  height: auto;
  margin: 38px auto 0 33px;
}

.u-section-6 .u-container-layout-5 {
  padding: 8px 30px;
}

.u-section-6 .u-text-6 {
  font-weight: 700;
  width: 155px;
  margin: 0 auto;
}

.u-section-6 .u-group-elements-2 {
  width: 309px;
  min-height: 301px;
  margin: 18px auto 0 33px;
}

.u-section-6 .u-text-7 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 0 0 28px;
}

.u-section-6 .u-shape-3 {
  width: 17px;
  height: 17px;
  margin: -35px auto 0 0;
}

.u-section-6 .u-text-8 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 18px 236px 0 28px;
}

.u-section-6 .u-text-9 {
  margin: 0 202px 0 28px;
}

.u-section-6 .u-text-10 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 16px 0 0 28px;
}

.u-section-6 .u-shape-4 {
  width: 17px;
  height: 17px;
  margin: -8px auto 0 0;
}

.u-section-6 .u-text-11 {
  margin: 11px 155px 0 28px;
}

.u-section-6 .u-text-12 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -41px 236px 0 28px;
}

.u-section-6 .u-text-13 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 38px 101px 0 28px;
}

.u-section-6 .u-shape-5 {
  width: 17px;
  height: 17px;
  margin: -33px auto 0 0;
}

.u-section-6 .u-text-14 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 17px 61px 0 28px;
}

.u-section-6 .u-text-15 {
  margin: 0 160px 0 28px;
}

.u-section-6 .u-group-6 {
  width: 309px;
  min-height: 44px;
  height: auto;
  margin: 11px auto 0 16px;
}

.u-section-6 .u-container-layout-6 {
  padding: 8px 30px;
}

.u-section-6 .u-text-16 {
  font-weight: 700;
  width: 114px;
  margin: 0 auto;
}

.u-section-6 .u-group-elements-3 {
  width: 309px;
  min-height: 146px;
  height: auto;
  margin: 18px auto 0 16px;
}

.u-section-6 .u-text-17 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 0 0 0 28px;
}

.u-section-6 .u-shape-6 {
  width: 17px;
  height: 17px;
  margin: -8px auto 0 0;
}

.u-section-6 .u-text-18 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -8px 236px 0 28px;
}

.u-section-6 .u-text-19 {
  font-weight: 700;
  font-size: 1.25rem;
  margin: 30px 45px 0 28px;
}

.u-section-6 .u-shape-7 {
  width: 17px;
  height: 17px;
  margin: -8px auto 0 0;
}

.u-section-6 .u-text-20 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: -5px 169px 0 28px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 739px;
  margin: -851px 0 0 auto;
}

.u-section-6 .u-image-1 {
  min-height: 550px;
  background-image: linear-gradient(0deg, rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url("images/1667737824766.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-7 {
  padding: 30px 60px;
}

.u-section-6 .u-image-2 {
  min-height: 322px;
  background-image: url("images/1663338112609.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-8 {
  padding: 30px;
}

.u-section-6 .u-image-3 {
  min-height: 228px;
  background-image: url("images/WhatsAppImage2023-04-09at09.38.50.jpeg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-9 {
  padding: 30px;
}

.u-section-6 .u-image-4 {
  min-height: 228px;
  background-image: url("images/1670084424751.jpg");
  background-position: 50% 50%;
}

.u-section-6 .u-container-layout-10 {
  padding: 30px;
}

.u-section-6 .u-image-5 {
  width: 739px;
  height: 291px;
  object-position: 50% 70.21%;
  margin: 20px 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-6 .u-group-3 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-4 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-6 .u-group-5 {
    height: auto;
  }

  .u-section-6 .u-group-6 {
    height: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 551px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2556px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-image-1 {
    min-height: 1075px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-6 .u-image-2 {
    min-height: 627px;
  }

  .u-section-6 .u-image-3 {
    min-height: 444px;
  }

  .u-section-6 .u-image-4 {
    min-height: 444px;
  }

  .u-section-6 .u-image-5 {
    width: 720px;
    height: 283px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2948px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 20px;
  }

  .u-section-6 .u-image-1 {
    min-height: 807px;
  }

  .u-section-6 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-2 {
    min-height: 470px;
  }

  .u-section-6 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-3 {
    min-height: 666px;
  }

  .u-section-6 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-4 {
    min-height: 666px;
  }

  .u-section-6 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-image-5 {
    width: 540px;
    height: 212px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 2359px;
  }

  .u-section-6 .u-group-1 {
    margin-left: auto;
  }

  .u-section-6 .u-text-1 {
    width: 145px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-6 .u-group-elements-1 {
    min-height: 168px;
    height: auto;
    margin-left: auto;
  }

  .u-section-6 .u-group-2 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-group-5 {
    margin-left: auto;
  }

  .u-section-6 .u-group-elements-2 {
    min-height: 303px;
    height: auto;
    margin-left: auto;
  }

  .u-section-6 .u-group-6 {
    margin-left: auto;
  }

  .u-section-6 .u-text-16 {
    width: 103px;
  }

  .u-section-6 .u-group-elements-3 {
    margin-left: auto;
  }

  .u-section-6 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-image-1 {
    min-height: 485px;
  }

  .u-section-6 .u-image-2 {
    min-height: 184px;
    background-position: 50% 100%;
  }

  .u-section-6 .u-image-3 {
    min-height: 178px;
    background-position: 50% 100%;
    order: 0;
  }

  .u-section-6 .u-image-4 {
    min-height: 399px;
    order: 1;
  }

  .u-section-6 .u-image-5 {
    height: 142px;
    margin-top: 11px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
} .u-section-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.65), rgba(0,0,0,0.65)), url("images/IMG_0673.JPG");
  background-position: 58.68% 87.22%;
}

.u-section-7 .u-sheet-1 {
  min-height: 483px;
}

.u-section-7 .u-text-1 {
  font-size: 1.125rem;
  margin: 373px auto 34px 0;
}

@media (max-width: 1199px) {
   .u-section-7 {
    background-size: 110%;
  }

  .u-section-7 .u-sheet-1 {
    min-height: 398px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 305px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 229px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 188px;
  }

  .u-section-7 .u-text-1 {
    font-size: 0.75rem;
    width: auto;
    margin-top: 110px;
    margin-bottom: 21px;
  }
}.u-section-8 .u-sheet-1 {
  min-height: 1311px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  font-size: 3.75rem;
  margin: 33px 301px 0 334px;
}

.u-section-8 .u-layout-wrap-1 {
  margin: 48px 0 60px;
}

.u-section-8 .u-image-1 {
  min-height: 360px;
  background-image: url("images/kapal.jpg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-1 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-2 {
  min-height: 360px;
}

.u-section-8 .u-container-layout-2 {
  padding: 30px;
}

.u-section-8 .u-text-2 {
  margin: 82px 0 0;
}

.u-section-8 .u-layout-cell-3 {
  min-height: 360px;
}

.u-section-8 .u-container-layout-3 {
  padding: 30px 28px;
}

.u-section-8 .u-text-3 {
  margin: 85px 2px 0;
}

.u-section-8 .u-image-2 {
  min-height: 360px;
  background-image: url("images/3.jpeg");
  background-position: 50% 50%;
}

.u-section-8 .u-container-layout-4 {
  padding: 11px 30px;
}

.u-section-8 .u-image-3 {
  min-height: 360px;
  background-image: url("images/WhatsAppImage2023-04-06at11.25.59.jpeg");
  background-position: 50% 59.44%;
}

.u-section-8 .u-container-layout-5 {
  padding: 30px;
}

.u-section-8 .u-layout-cell-6 {
  min-height: 360px;
}

.u-section-8 .u-container-layout-6 {
  padding: 30px 28px;
}

.u-section-8 .u-text-4 {
  margin: 48px 2px 0;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1122px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 201px;
    margin-left: 234px;
    width: 420px;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 297px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 297px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 297px;
  }

  .u-section-8 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-image-2 {
    min-height: 297px;
  }

  .u-section-8 .u-image-3 {
    min-height: 297px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 297px;
  }

  .u-section-8 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 912px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 91px;
    margin-left: 124px;
  }

  .u-section-8 .u-image-1 {
    min-height: 227px;
  }

  .u-section-8 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-8 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-8 .u-image-2 {
    min-height: 227px;
  }

  .u-section-8 .u-image-3 {
    min-height: 227px;
  }

  .u-section-8 .u-layout-cell-6 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1554px;
  }

  .u-section-8 .u-text-1 {
    margin-right: 1px;
    margin-left: 34px;
    font-size: 2.25rem;
  }

  .u-section-8 .u-image-1 {
    min-height: 341px;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-layout-cell-3 {
    order: 1;
  }

  .u-section-8 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-2 {
    min-height: 341px;
    order: 0;
  }

  .u-section-8 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-image-3 {
    min-height: 341px;
  }

  .u-section-8 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-8 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1692px;
  }

  .u-section-8 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 39px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-8 .u-layout-wrap-1 {
    margin-top: 42px;
    margin-bottom: 13px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-8 .u-image-1 {
    min-height: 215px;
  }

  .u-section-8 .u-image-2 {
    min-height: 215px;
  }

  .u-section-8 .u-image-3 {
    min-height: 215px;
  }
} .u-section-9 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url("images/MM1.jpg");
  background-position: 50% 50%;
}

.u-section-9 .u-sheet-1 {
  min-height: 400px;
}

.u-section-9 .u-text-1 {
  background-image: none;
  font-size: 1.125rem;
  margin: 278px auto 46px 0;
}

@media (max-width: 1199px) {
  .u-section-9 .u-sheet-1 {
    min-height: 330px;
  }
}

@media (max-width: 991px) {
  .u-section-9 .u-sheet-1 {
    min-height: 253px;
  }
}

@media (max-width: 767px) {
  .u-section-9 .u-sheet-1 {
    min-height: 190px;
  }

  .u-section-9 .u-text-1 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
  .u-section-9 .u-sheet-1 {
    min-height: 152px;
  }

  .u-section-9 .u-text-1 {
    width: auto;
    font-size: 0.75rem;
    margin: 82px 50px 12px -30px;
  }
} .u-section-10 {
  background-image: none;
  min-height: 958px;
}

.u-section-10 .u-list-1 {
  width: 1140px;
  margin: 70px auto 0;
}

.u-section-10 .u-repeater-1 {
  grid-template-columns: repeat(4, calc(25% - 15.75px));
  min-height: 251px;
  grid-gap: 21px;
}

.u-section-10 .u-list-item-1 {
  background-image: none;
}

.u-section-10 .u-container-layout-1 {
  padding: 30px 11px;
}

.u-section-10 .u-icon-1 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 19px 0;
}

.u-section-10 .u-text-2 {
  font-size: 1rem;
  margin: 19px 9px 0;
}

.u-section-10 .u-list-item-2 {
  background-image: none;
}

.u-section-10 .u-container-layout-2 {
  padding: 30px 11px;
}

.u-section-10 .u-icon-2 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-3 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 19px 0;
}

.u-section-10 .u-text-4 {
  font-size: 1rem;
  margin: 19px 9px 0;
}

.u-section-10 .u-list-item-3 {
  background-image: none;
}

.u-section-10 .u-container-layout-3 {
  padding: 30px 11px;
}

.u-section-10 .u-icon-3 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-5 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 19px 0;
}

.u-section-10 .u-text-6 {
  font-size: 1rem;
  margin: 19px 9px 0;
}

.u-section-10 .u-list-item-4 {
  background-image: none;
}

.u-section-10 .u-container-layout-4 {
  padding: 30px 11px;
}

.u-section-10 .u-icon-4 {
  height: 64px;
  width: 64px;
  margin: 0 auto;
}

.u-section-10 .u-text-7 {
  text-transform: uppercase;
  font-weight: 700;
  margin: 20px 19px 0;
}

.u-section-10 .u-text-8 {
  font-size: 1rem;
  margin: 19px 9px 0;
}

.u-section-10 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-10 .u-layout-wrap-1 {
  width: 1140px;
  margin: 39px auto;
}

.u-section-10 .u-layout-cell-1 {
  min-height: 559px;
  background-image: none;
}

.u-section-10 .u-container-layout-5 {
  padding: 30px;
}

.u-section-10 .u-text-9 {
  font-size: 3rem;
  font-weight: 700;
  margin: 0 auto 0 0;
}

.u-section-10 .u-form-1 {
  height: 366px;
  width: 510px;
  margin: 49px 0 0;
}

.u-section-10 .u-label-1 {
  font-weight: 700;
}

.u-section-10 .u-label-2 {
  font-weight: 700;
}

.u-section-10 .u-label-3 {
  font-weight: 700;
}

.u-section-10 .u-btn-2 {
  text-transform: uppercase;
  width: 100%;
  background-image: none;
}

.u-section-10 .u-layout-cell-2 {
  min-height: 559px;
  background-image: none;
}

.u-section-10 .u-container-layout-6 {
  padding: 0;
}

@media (max-width: 1199px) {
   .u-section-10 {
    min-height: 853px;
  }

  .u-section-10 .u-list-1 {
    width: 940px;
  }

  .u-section-10 .u-repeater-1 {
    min-height: 207px;
  }

  .u-section-10 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 461px;
  }

  .u-section-10 .u-form-1 {
    width: 410px;
  }

  .u-section-10 .u-btn-2 {
    border-style: none;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 461px;
  }
}

@media (max-width: 991px) {
   .u-section-10 {
    min-height: 738px;
  }

  .u-section-10 .u-list-1 {
    width: 720px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10.5px));
    min-height: 508px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 607px;
  }

  .u-section-10 .u-form-1 {
    width: 300px;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 607px;
  }
}

@media (max-width: 767px) {
   .u-section-10 {
    min-height: 1027px;
  }

  .u-section-10 .u-list-1 {
    width: 540px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: calc(50% - 10.5px) calc(50% - 10.5px);
    grid-gap: 21px 21px;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 540px;
    margin-top: 35px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 567px;
  }

  .u-section-10 .u-form-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 520px;
  }
}

@media (max-width: 575px) {
   .u-section-10 {
    min-height: 817px;
  }

  .u-section-10 .u-list-1 {
    width: 340px;
  }

  .u-section-10 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-10 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-3 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-container-layout-4 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-10 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-10 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-10 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-10 .u-text-9 {
    font-size: 2.75rem;
  }

  .u-section-10 .u-layout-cell-2 {
    min-height: 327px;
  }
}